* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    --black-color:#000;
    --white-color:#fff;
    --dore-color: #A18A68;
    --grey-color:#EBECEE;
    --grey-fonce:#707070;
    --blue-color:#686AA1;
}

body {

    background-color: var(--white-color);
}
/* header */
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    
}
/* main */
main{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    /* padding: 0 0 0 7% ; */
    flex-direction: column;
    gap: 20px;
    /* marge */
    margin-bottom: 50px;
    margin-top: 50px;
}





.cart{
    width: 95%;
    display: flex;
    /* background-color: red; */
    /* height: 100%; */
    justify-content: center;
    border-radius: 20px;
}

.title-product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]
{
  -moz-appearance: textfield;
}



.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}








.cart-product-detail{
    width: 50%;
    padding: 2% 3% 2% 3%;
    background-color: var(--grey-color);
    border-radius: 0 20px 20px 0;
}
.delete-btn{color: red;}


.image-product-cart{
    width: 200px;
    border-radius:20px 0 0 20px ;
}



.quantite{
    font-size: 100%;
    margin: 5% 0 5% 0;
}
.quantite-t{
    margin-top: 20px;
}

.total-cart-check{
    width: 100%;
    padding: 0 100px;
    text-align: center;
    margin-bottom: 40px;
    
}
.totoal-ttl-check{
    margin-bottom: 20px;
}
.checkout-btn{
    color: var(--black-color);
    font-weight: bold;
    border: 2px  black solid;
    border-radius: 10px;
    /* padding: 5px 20px 5px 20px ;  */
    padding: 0.5% 3% ;
    font-size: 20px;
    margin-top: 10px;
}
.checkout-btn:hover{
    background-color: var(--grey-fonce);
    color: var(--white-color);
}





/* ====================main ========================*/


.logo {
    font-size: 28px;
    color: var(--dore-color);
    font-family: 'Allerta Stencil', sans-serif;
}
.a-logo{
    color: var(--dore-color);
    font-family: 'Allerta Stencil', sans-serif;
}
.logo-res{
    font-size: 28px;
    color: var(--dore-color);
    font-family: 'Allerta Stencil', sans-serif;
    display: none;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: var(--black-color);
    font-size: 20px;
    padding: 10px 10px;
    transition: 0.2s;
    margin: 0 5px;
    border: 4px var(--white-color) solid;
}

.nav-bar ul li .inner-espace{
    display: block;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
    border: 4px var(--white-color) solid;
    

}



.nav-bar ul li a:hover {
    color: var(--dore-color);
    border-bottom: 4px solid var(--dore-color);
    border-radius: 3px;

}







/*================================ footer ==============================*/
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 30px;
    color: var(--grey-fonce);
    
}
.link-footer ul {
    display: flex;
    gap: 15px;  
}
.link-footer ul li a {
    color: var(--grey-fonce);
    transition: 0.2s;
}
.link-footer ul li a:hover{
    color: var(--dore-color);
}
.form-footer{
    border-bottom: 2px solid var(--grey-fonce);
    padding-bottom: 10px;
}
.form-footer form input{
    border: none;
    padding:5px;
}
.form-footer form button{
    background: none;
    border: none;
}
.footer-icons{
    margin-top: 2%;
    float: right;
}
.footer-icons i{
    margin-left: 20px;
    transition: 0.2s;
}
.footer-icons i:hover{
color: var(--dore-color);
}



/*================================ footer ==============================*/



/* responsive */

@media only screen and (max-width:1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width:1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width:900px) {

    /* =============nav-bar================== */
    .logo{
        display: none;
    }
    .logo-res{
        display: block;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: var(--blue-color);
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--grey-color);
        
        transition: 0.2s;
        overflow: hidden;
    }
    .espace {
        display: none;
    }
    .nav-bar.active {
        height: 450px;
        width: 100%;
        border-radius: 20px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        border: 4px var(--grey-color) solid;
        
    }

    /*================ footer =============*/
    footer{
        display: block;
    }
    .sec2-footer{
        display: flex;
        justify-content: space-around;
    }
    .link-footer {
        margin-bottom: 3%;
    }


    /* ====main */
   
    .card-product{
        display: block;
    }
    .image-product{
        width: 100%;
    }
    /* =====main===== */

    /* reviews */
    .reviews{
        padding: 0 5px;
    }

    /* panier */
    .image-product-cart{
        width: 150px;
    }
    
    .quantite{
        font-size: 18px;
        margin: 5% 0 5% 0;
    }

    .cart{
        height: 80%;
    }
  
    .title-product-price{
        font-size: 19px;
    }
    .total-price{
        font-size: 19px;
    }

}



@media only screen and (max-width:570px) {
    .hero{
        display: none;
    }
    .product-head{
        margin: 10px 0 -100px 0;
    }
    footer{
        padding:  50px 50px;
        margin-bottom: 30px;
        text-align: center; 
        position: relative;
    }
    
    .footer-icons{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .form-footer form input {
       font-size: 11px;
    }
    .link-footer ul{
        justify-content: center;
    }
    .link-footer ul {
        gap: 10px; 
        font-size: 11px;
    }
    .sec2-footer{
        display: block;
    }

    /*----- main---- */
    .cart{
        margin-left: 3.5%;
    }
    .totoal-ttl-check{
        font-size: 20px;
    }
    .title-product-price{
        font-size: 15px;
    }
    .total-price{
        font-size: 15px;
    }
    .quantite-t{
        font-size: 15px;
    }





 





}