* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    --black-color:#000;
    --white-color:#fff;
    --dore-color: #A18A68;
    --grey-color:#EBECEE;
    --grey-fonce:#707070;
    --blue-color:#686AA1;
    

}

body {

    background-color: var(--white-color);
}
/* header */
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    
}
.a-logo{
    color: var(--dore-color);
    font-family: 'Allerta Stencil', sans-serif;
}
/* main */
main{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    padding: 0 100px;

    /* marge */
    margin-bottom: 50px;
    margin-top: 50px;

}




.card-product{
    width: 92%;
    box-shadow: 2px 1px 8px 0px grey;
    display: flex;
    height: 100%;
    border-radius: 20px;
}
.product-details{
    margin: 2% 3% 2% 3%;
}
/* content product details */
.title-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 29px;
    margin-bottom: 2%;
}
.title-price .title-product-details{
    font-weight: bold;
} 
.title-price .price-product-details{
    color: var(--dore-color);
}
.description{
    margin: 1% 0 1% 0;
}
.description .desc-title{
    font-size: 22px;
}
.quantite{
    font-size: 22px;
    margin: 5% 0 5% 0;
}
.quantite .quantite-t{
    border-top: 2px solid var(--black-color);
    border-left:2px solid var(--black-color) ;
    border-bottom: 2px solid var(--black-color);
}
.quantite .quantite-dec{
    border-top: 2px solid var(--black-color);
    border-left:2px solid var(--black-color) ;
    border-bottom: 2px solid var(--black-color);
}
.quantite .quantite-nbr{
    border-top: 2px solid var(--black-color);
    border-left:2px solid var(--black-color) ;
    border-bottom: 2px solid var(--black-color);
}
.quantite .quantite-inc{
    border: 2px solid var(--black-color);
    
}

.quantite-t ,.quantite-dec,.quantite-nbr,.quantite-inc{
    padding: 1% 2% 1% 2%;
}
.btns-product-details{
    margin: 5% 0 5% 0;
}
.btns-product-details button{
    background: none;
    border: none;
    padding: 1.5% 2.5% 1.5% 2.5%;
    border: 2px solid ;
    border-radius: 10px;
}
.btns-product-details button:hover{
    background-color: var(--dore-color);
    color: var(--white-color);
}

.image-product{
    border-radius: 20px;
}



/* ====================main ========================*/


.logo {
    font-size: 28px;
    color: var(--dore-color);
    font-family: 'Allerta Stencil', sans-serif;
}
.logo-res{
    font-size: 28px;
    color: var(--dore-color);
    font-family: 'Allerta Stencil', sans-serif;
    display: none;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: var(--black-color);
    font-size: 20px;
    padding: 10px 10px;
    transition: 0.2s;
    margin: 0 5px;
    border: 4px var(--white-color) solid;
}

.nav-bar ul li .inner-espace{
    display: block;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
    border: 4px var(--white-color) solid;
    

}



.nav-bar ul li a:hover {
    color: var(--dore-color);
    border-bottom: 4px solid var(--dore-color);
    border-radius: 3px;

}







/*================================ footer ==============================*/
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 30px;
    color: var(--grey-fonce);
    
}
.link-footer ul {
    display: flex;
    gap: 15px;  
}
.link-footer ul li a {
    color: var(--grey-fonce);
    transition: 0.2s;
}
.link-footer ul li a:hover{
    color: var(--dore-color);
}
.form-footer{
    border-bottom: 2px solid var(--grey-fonce);
    padding-bottom: 10px;
}
.form-footer form input{
    border: none;
    padding:5px;
}
.form-footer form button{
    background: none;
    border: none;
}
.footer-icons{
    margin-top: 2%;
    float: right;
}
.footer-icons i{
    margin-left: 20px;
    transition: 0.2s;
}
.footer-icons i:hover{
color: var(--dore-color);
}



/*================================ footer ==============================*/


/*----------------------------------- reviews--------------------- */
.reviews{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    padding: 0 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.review-card{
    width: 80%;
    /* background-color: #9c9c9c; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding-bottom: 20px;
    border-bottom: dashed black 3px;
}
.person-pic-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.person-pic-name img{
    width: 120px;
    height:130px;
    border-radius: 100%;
}
.reviews-text-likes{
    position: relative;
}


/*=============================== reviews===================== */










/* responsive */

@media only screen and (max-width:1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width:1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width:900px) {

    /* =============nav-bar================== */
    .logo{
        display: none;
    }
    .logo-res{
        display: block;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: var(--blue-color);
        margin: 6px 0;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--grey-color);
        
        transition: 0.2s;
        overflow: hidden;
    }
    .espace {
        display: none;
    }
    .nav-bar.active {
        height: 450px;
        width: 100%;
        border-radius: 20px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        border: 4px var(--grey-color) solid;
        
    }

    /*================ footer =============*/
    footer{
        display: block;
    }
    .sec2-footer{
        display: flex;
        justify-content: space-around;
    }
    .link-footer {
        margin-bottom: 3%;
    }


    /* ====main */
    .card-product{
        display: block;
    }
    .image-product{
        width: 100%;
    }
    main{
        padding: 0 10px;
    }
    /* =====main===== */

    /* reviews */
    .reviews{
        padding: 0 5px;
    }

}



@media only screen and (max-width:570px) {
    .hero{
        display: none;
    }
    .product-head{
        margin: 10px 0 -100px 0;
    }
    footer{
        padding:  50px 50px;
        margin-bottom: 30px;
        text-align: center; 
        position: relative;
    }
    
    .footer-icons{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .form-footer form input {
       font-size: 11px;
    }
    .link-footer ul{
        justify-content: center;
    }
    .link-footer ul {
        gap: 10px; 
        font-size: 11px;
    }
    .sec2-footer{
        display: block;
    }

    /*----- main---- */
    .title-price{
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-right: 5px;
    }

    .description .desc-title{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .quantite{
        font-size: 19px;
    }
    .product-details{
        margin: 0% 3% 2% 3%; 
    }

    /* reviews */

  
   
    .person-pic-name{
        gap: 10px;
    }
    .person-pic-name img{
        width: 80px;
        height:90px;
        
    }
    .reviews-text-likes{
        position: relative;
        font-size: 12px;
    }





}